html, body {
    min-height: 100vh;
}

.navbar {
    background-color: #fcfcfcef;
}

.carousel,
.carousel-inner,
.carousel-item {
    height: 100vh;
}

.carousel-item img {
    height: 100vh;
    object-fit: cover;
}
.card-img-top {
  width: 100%;
  height: 300px;
  object-fit: contain; 
  display: block;
  
}
.btn-primary {
    background-color: #b99357 !important;
    border-color: #ac812b !important;
}

.btn-primary:hover {
    background-color: #8c691f !important;
    border-color: #8c691f !important;
}
