* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Arial", sans-serif;
  }
  
  body {
    background: #fffaf0;
    color: #333;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #a47c2b;
    padding: 1rem 2rem;
  }
  
  .logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    gap: 1.5rem;
  }
  
  .nav-links a {
    text-decoration: none;
    color: white;
    font-weight: 500;
    transition: color 0.3s;
  }
  
  .nav-links a:hover {
    color: #e0ffe0;
  }
  
  .menu-toggle {
    display: none;
    font-size: 1.8rem;
    color: white;
    cursor: pointer;
  }
  
  .hero {
    text-align: center;
    padding: 4rem 2rem;
  }
  
  .hero h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
  }
  
  .hero p {
    font-size: 1.2rem;
    color: #555;
  }
  
  /* Responsivo */
  @media (max-width: 768px) {
    .nav-links {
      display: none;
      flex-direction: column;
      background-color: #a47c2b;
      position: absolute;
      top: 60px;
      right: 0;
      width: 100%;
      padding: 1rem;
    }
  
    .nav-links.active {
      display: flex;
    }
  
    .menu-toggle {
      display: block;
    }
  }
  .carrossel {
    position: relative;
    width: 100%;
  
    overflow: hidden;
    margin: auto;
  }
  
  .slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 300%; /* 100% x número de slides */
    height: 300px;
  }
  
  .slides img {
    width: 200%;
    height: auto;
  }
  
  .btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0,0,0,0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 18px;
  }
  
  .prev {
    left: 10px;
  }
  
  .next {
    right: 10px;
  }
  